/* 이미지 팔레트 영역 */
.image_palette {
    margin-top: 20vh;
    width: 8vw;
    border: 2px solid #c1e6f1;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    height: 55vh;
    position: relative;
    overflow: hidden;
}

/* '+ 이미지' 버튼 스타일 */
.image_palette button {
    display: block;
    margin: 0 auto 10px auto;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #a8edea, #d9b8f0);
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.image_palette button:hover {
    opacity: 0.9;
    transform: scale(1.03); /* 살짝 커지는 효과 */
}

/* 이미지 리스트 컨테이너 */
.image_list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    overflow-y: auto;
    max-height: 50vh;
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE, Edge */
}

.image_list::-webkit-scrollbar {    /* Chrome, Safari */
    display: none;
}

/* 업로드된 이미지 리스트 안 div */
.image_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

/* 업로드된 이미지 스타일 */
.image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* --------------------------------------------- 채팅 영역 스타일 --------------------------------------------- */
.diary_chat_area {
    display: flex;
    flex-direction: column;
    width: 70vw;
}