#home-loggedin-wrap {width: 100%; background-color: aqua; display: flex; justify-content: center; align-items: center;}

.home-grid{width: 1300px; background-color: bisque;}


.top-content{width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: space-between;}
.emotion-graph{width: 800px;}
.home-profile-card{width: 100%;}

.sub-content{width: 100%; display: flex; flex-direction: column;}
.diary-preview{width: 500px;}
.goals-list{width: 500px;}









